{% extends 'base.html' %}

{% load static %}

{% block title %}Sign in{% endblock %}

{% block extra_head %}<link rel="stylesheet" href="{% static '/css/login.css' %}">{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
<form method="post" class="text-center" action="">
    <h1 class="form-name display-6">Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    {% csrf_token %}
    {{ form.as_p }}
    <input class= "btn" type="submit" value="Login"/>
  </form>
  </div>

{% endblock %}
