{% extends "base.html" %}

{% load static %}

{% block title %}Sign-Up{% endblock %}

{% block extra_head %}<link rel="stylesheet" href="{% static '/css/signup.css' %}">{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
<form method="post" class="text-center" action="">
    <h1 class="form-name display-6">Sign-up</h1>
    <p>Please, use the following form to sign-up:</p>
    {% csrf_token %}
    {{ form.as_p }}
    <input class= "submit-btn btn" type="submit" value="Sign-Up"/>
  </form>
  </div>
{% endblock %}
