#user-list
{
  padding-top: 10vh;
}

#user-block
{
  margin: 1em;
}

.image-wrapper
{
  width: 60px;
}

.image-wrapper img
{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.username
{
  font-size: 3em;
}

#add-friend-button
{
  white-space: nowrap;
  margin-left: 1em;
  border-color: #F5F5F5;
  color: #F5F5F5;
  font-size: 1.5em;
}

#add-friend-button:hover
{
  background-color: #F5F5F5;
  color: #2D2D2D;
}
