#user-list
{
  padding-top: 10vh;
}

#user-block
{
  margin: 1em;
}


.image-wrapper {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px !important;
}

.image-wrapper img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: auto;
}

.username
{
  font-size: 3em;
}

.add-friend-button
{
  white-space: nowrap;
  margin-left: 1em;
  border-color: #F5F5F5;
  color: #F5F5F5;
  font-size: 1.5em;
}

.add-friend-button:hover
{
  background-color: #F5F5F5;
  color: #2D2D2D;
}
